!!! XML
!!!
%html
  %head
    %title Lorenzo Test
  
  %style{:type => "text/css", :media => "screen"}
    :plain
      body {
        background-color: #aaa;
      }
      td{padding-bottom: 100px;padding-right: 100px;}
     
  %body
    #main
      %table
        %tr
          %td
            - @youtube_toprated.each do |toptube|
              %p
                = toptube + "\n"
          %td
            - @twitter_trends.each do |twitter|
              %p
                = twitter 
        
          
                
      

